<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · FoodOrder">
      <%= assigns[:page_title] || "pumpkin" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <div class="mx-auto max-w-7xl">
      <FoodOrderWeb.HeaderComponent.menu current_user={@current_user} cart_id={Map.get(assigns, :cart_id)} request_path={@conn.request_path} />
      <%= @inner_content %>
    </div>
  </body>
</html>
